# Section 4: Hands-On Data Analysis Lab

We will practice all that you’ve learned in a hands-on lab. This section features a set of analysis tasks that provide opportunities to apply the material from the previous sections. This lab comes in 2 formats &ndash; select the one that is most appropriate:

- [Live Session](../notebooks/4-hands_on_data_analysis_lab.ipynb#Live-Session)
- [Asynchronous Session](#Asynchronous-Session)

## Asynchronous Session

The lab tasks for the asynchronous session can be found below. Note that these are different from those in the live session. Sample solutions can be found [here](solutions.ipynb).

### About the Data

We will be using 2019 flight statistics from the United States Department of Transportation’s Bureau of Transportation Statistics (available [here](https://www.transtats.bts.gov/DL_SelectFields.asp?gnoyr_VQ=FMF&QO_fu146_anzr=Nv4%20Pn44vr45) and in this repository as `data/T100_MARKET_ALL_CARRIER.zip`). Each row contains information about a specific route for a given carrier in a given month (e.g., JFK &rarr; LAX on Delta Airlines in January). There are 321,409 rows and 41 columns. Note that you don't need to unzip the file to read it in with `pd.read_csv()`.

#### Exercises

##### 1. Read in the data and convert the column names to lowercase to make them easier to work with.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/T100_MARKET_ALL_CARRIER.zip')
carrier = pd.DataFrame(data)
carrier.columns = map(str.lower, carrier.columns)
carrier.head(10)

,passengers,freight,mail,distance,unique_carrier,airline_id,unique_carrier_name,unique_carrier_entity,region,carrier,...,dest_state_nm,dest_country,dest_country_name,dest_wac,year,quarter,month,distance_group,class,data_source
0,0.0,53185.0,0.0,8165.0,EK,20392,Emirates,9678A,I,EK,...,Texas,US,United States,74,2019,1,3,17,G,IF
1,0.0,9002.0,0.0,6849.0,EK,20392,Emirates,9678A,I,EK,...,New York,US,United States,22,2019,1,3,14,G,IF
2,0.0,2220750.0,0.0,7247.0,EK,20392,Emirates,9678A,I,EK,...,Illinois,US,United States,41,2019,1,3,15,G,IF
3,0.0,1201490.0,0.0,8165.0,EK,20392,Emirates,9678A,I,EK,...,NaN,AE,United Arab Emirates,678,2019,1,3,17,G,IF
4,0.0,248642.0,0.0,6849.0,EK,20392,Emirates,9678A,I,EK,...,NaN,AE,United Arab Emirates,678,2019,1,3,14,G,IF
5,0.0,3437630.0,0.0,7247.0,EK,20392,Emirates,9678A,I,EK,...,NaN,AE,United Arab Emirates,678,2019,1,3,15,G,IF
6,0.0,1244.0,0.0,85.0,CH,20257,Bemidji Airlines,06954,D,CH,...,Minnesota,US,United States,63,2019,1,3,1,F,DU
7,0.0,9464.0,0.0,199.0,CH,20257,Bemidji Airlines,06954,D,CH,...,Minnesota,US,United States,63,2019,1,3,1,F,DU
8,0.0,5550.0,0.0,114.0,CH,20257,Bemidji Airlines,06954,D,CH,...,Minnesota,US,United States,63,2019,1,3,1,F,DU
9,0.0,20417.0,0.0,199.0,CH,20257,Bemidji Airlines,06954,D,CH,...,Minnesota,US,United States,63,2019,1,3,1,F,DU

##### 2. What columns are in the data?

In [3]:
carrier.columns

Index(['passengers', 'freight', 'mail', 'distance', 'unique_carrier',
       'airline_id', 'unique_carrier_name', 'unique_carrier_entity', 'region',
       'carrier', 'carrier_name', 'carrier_group', 'carrier_group_new',
       'origin_airport_id', 'origin_airport_seq_id', 'origin_city_market_id',
       'origin', 'origin_city_name', 'origin_state_abr', 'origin_state_fips',
       'origin_state_nm', 'origin_country', 'origin_country_name',
       'origin_wac', 'dest_airport_id', 'dest_airport_seq_id',
       'dest_city_market_id', 'dest', 'dest_city_name', 'dest_state_abr',
       'dest_state_fips', 'dest_state_nm', 'dest_country', 'dest_country_name',
       'dest_wac', 'year', 'quarter', 'month', 'distance_group', 'class',
       'data_source'],
      dtype='object')

##### 3. How many distinct carrier names are in the dataset?

In [4]:
carrier.carrier_name.nunique()

319

##### 4. Calculate the totals of the `freight`, `mail`, and `passengers` columns for flights from the United Kingdom to the United States.

In [10]:
carrier_uk_usa_flights = carrier[(carrier.origin_country_name == 'United Kingdom') & (carrier.dest_country_name == 'United States')]
carrier_uk_usa_flights_selection = carrier_uk_usa_flights[['passengers', 'freight', 'mail']]
carrier_uk_usa_flights_selection.sum()

passengers     10685608.0
freight       903296879.0
mail           29838395.0
dtype: float64

##### 5. Find the top 5 carriers for median route distance (i.e., for all origin-destination pairs that each carrier has, find the median distance after removing duplicates).

##### 6. Find the total cargo transported (mail + freight) and mean distance traveled for the 10 carriers that transported the most cargo.

##### 7. Which 10 carriers flew the most passengers out of the United States to another country?

##### 8. For each of the carriers found in *#7*, find the most popular destination country outside of the United States.

##### 9. For each of the carriers found in *#7*, find the total number of passengers flown on international flights to/from the destinations in *#8* or the United States. Note that this dataset only has data for flights with an origin and/or destination of the United States.

##### 10. Between which two cities were the most passengers flown? Make sure to account for both directions.

##### 11. Find the top 3 carriers for the pair of cities found in *#10* and calculate the percentage of passengers each accounted for.

##### 12. Find the percentage of international travel per country using total passengers on class F flights.

##### 13. Using a crosstab, find the percentage of total passengers on class F international flights between US cities and the countries found in *#12* that used the carriers found in *#11*.

##### 14. Create a pivot table showing the total passengers transported between cities in the United States and other countries by the carriers identified in *#7*. Select the top 10 US cities and top 10 international countries from the result.

##### 15: For the top 15 international countries, find the percentage of class F passengers traveling to/from the top 10 US cities for international travel (e.g. if only cities A, B, and C flew into Aruba, the sum of the Aruba row/column would be 1). Plot the result as a heatmap.