In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [ ]:
s

In [5]:
dates = pd.date_range('20230131', periods=10)

In [6]:
dates

DatetimeIndex(['2023-01-31', '2023-02-01', '2023-02-02', '2023-02-03',
               '2023-02-04', '2023-02-05', '2023-02-06', '2023-02-07',
               '2023-02-08', '2023-02-09'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(10, 4), index=dates, columns=['A', 'B', 'C', 'D'])

In [13]:
df

                   A         B         C         D
2023-01-31 -1.056317  0.028652 -0.294730  0.958418
2023-02-01  0.385679 -1.166928 -0.901023  1.551539
2023-02-02 -0.380255  1.807520  0.382447 -0.901498
2023-02-03  0.320822 -0.016238 -0.469395 -0.757961
2023-02-04 -0.336231 -0.314541  1.120552  0.448324
2023-02-05  2.318452 -1.435856 -0.862754  0.785566
2023-02-06 -1.330211  0.580336  1.146512 -1.248540
2023-02-07 -2.996989 -1.249801  2.298585 -2.747315
2023-02-08  0.842903 -1.655019 -0.528538  0.420208
2023-02-09 -0.286644  0.786511 -1.048051 -0.780768

In [14]:
df2 = pd.DataFrame(
    {
        'A': 1.0,
        'B': pd.Timestamp('20230131'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(['test', 'train', 'test', 'train']),
        'F': 'foo'
    }
)

In [15]:
df2

     A          B    C  D      E    F
0  1.0 2023-01-31  1.0  3   test  foo
1  1.0 2023-01-31  1.0  3  train  foo
2  1.0 2023-01-31  1.0  3   test  foo
3  1.0 2023-01-31  1.0  3  train  foo

In [16]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [17]:
df.head()

                   A         B         C         D
2023-01-31 -1.056317  0.028652 -0.294730  0.958418
2023-02-01  0.385679 -1.166928 -0.901023  1.551539
2023-02-02 -0.380255  1.807520  0.382447 -0.901498
2023-02-03  0.320822 -0.016238 -0.469395 -0.757961
2023-02-04 -0.336231 -0.314541  1.120552  0.448324

In [18]:
df.tail()

                   A         B         C         D
2023-02-05  2.318452 -1.435856 -0.862754  0.785566
2023-02-06 -1.330211  0.580336  1.146512 -1.248540
2023-02-07 -2.996989 -1.249801  2.298585 -2.747315
2023-02-08  0.842903 -1.655019 -0.528538  0.420208
2023-02-09 -0.286644  0.786511 -1.048051 -0.780768

In [19]:
df.index

DatetimeIndex(['2023-01-31', '2023-02-01', '2023-02-02', '2023-02-03',
               '2023-02-04', '2023-02-05', '2023-02-06', '2023-02-07',
               '2023-02-08', '2023-02-09'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [25]:
df.to_numpy()

array([[-1.05631687,  0.02865226, -0.29473008,  0.95841769],
       [ 0.38567911, -1.16692811, -0.9010234 ,  1.55153948],
       [-0.38025548,  1.8075196 ,  0.38244658, -0.90149769],
       [ 0.32082231, -0.01623825, -0.46939538, -0.75796123],
       [-0.3362308 , -0.31454106,  1.12055243,  0.44832449],
       [ 2.31845204, -1.43585597, -0.8627543 ,  0.78556609],
       [-1.33021145,  0.58033618,  1.1465121 , -1.24854007],
       [-2.99698947, -1.24980063,  2.29858504, -2.74731489],
       [ 0.84290343, -1.65501947, -0.52853845,  0.42020842],
       [-0.28664358,  0.78651093, -1.04805102, -0.78076762]])

In [22]:
df2.to_numpy()

array([[1.0, Timestamp('2023-01-31 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2023-01-31 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2023-01-31 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2023-01-31 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [23]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.251879  -0.263536   0.084360  -0.227203
std     1.410673   1.123117   1.114045   1.287017
min    -2.996989  -1.655019  -1.048051  -2.747315
25%    -0.887302  -1.229082  -0.779200  -0.871315
50%    -0.311437  -0.165390  -0.382063  -0.168876
75%     0.369465   0.442415   0.936026   0.701256
max     2.318452   1.807520   2.298585   1.551539

In [26]:
df.T

,2023-01-31,2023-02-01,2023-02-02,2023-02-03,2023-02-04,2023-02-05,2023-02-06,2023-02-07,2023-02-08,2023-02-09
A,-1.056317,0.385679,-0.380255,0.320822,-0.336231,2.318452,-1.330211,-2.996989,0.842903,-0.286644
B,0.028652,-1.166928,1.807520,-0.016238,-0.314541,-1.435856,0.580336,-1.249801,-1.655019,0.786511
C,-0.294730,-0.901023,0.382447,-0.469395,1.120552,-0.862754,1.146512,2.298585,-0.528538,-1.048051
D,0.958418,1.551539,-0.901498,-0.757961,0.448324,0.785566,-1.248540,-2.747315,0.420208,-0.780768

In [27]:
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2023-01-31 00:00:00,2023-01-31 00:00:00,2023-01-31 00:00:00,2023-01-31 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [30]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2023-01-31  0.958418 -0.294730  0.028652 -1.056317
2023-02-01  1.551539 -0.901023 -1.166928  0.385679
2023-02-02 -0.901498  0.382447  1.807520 -0.380255
2023-02-03 -0.757961 -0.469395 -0.016238  0.320822
2023-02-04  0.448324  1.120552 -0.314541 -0.336231
2023-02-05  0.785566 -0.862754 -1.435856  2.318452
2023-02-06 -1.248540  1.146512  0.580336 -1.330211
2023-02-07 -2.747315  2.298585 -1.249801 -2.996989
2023-02-08  0.420208 -0.528538 -1.655019  0.842903
2023-02-09 -0.780768 -1.048051  0.786511 -0.286644

In [31]:
df.sort_values(by='D')

                   A         B         C         D
2023-02-07 -2.996989 -1.249801  2.298585 -2.747315
2023-02-06 -1.330211  0.580336  1.146512 -1.248540
2023-02-02 -0.380255  1.807520  0.382447 -0.901498
2023-02-09 -0.286644  0.786511 -1.048051 -0.780768
2023-02-03  0.320822 -0.016238 -0.469395 -0.757961
2023-02-08  0.842903 -1.655019 -0.528538  0.420208
2023-02-04 -0.336231 -0.314541  1.120552  0.448324
2023-02-05  2.318452 -1.435856 -0.862754  0.785566
2023-01-31 -1.056317  0.028652 -0.294730  0.958418
2023-02-01  0.385679 -1.166928 -0.901023  1.551539

In [35]:
df['A']

2023-01-31   -1.056317
2023-02-01    0.385679
2023-02-02   -0.380255
2023-02-03    0.320822
2023-02-04   -0.336231
2023-02-05    2.318452
2023-02-06   -1.330211
2023-02-07   -2.996989
2023-02-08    0.842903
2023-02-09   -0.286644
Freq: D, Name: A, dtype: float64

In [33]:
df[0:3]

                   A         B         C         D
2023-01-31 -1.056317  0.028652 -0.294730  0.958418
2023-02-01  0.385679 -1.166928 -0.901023  1.551539
2023-02-02 -0.380255  1.807520  0.382447 -0.901498

In [34]:
df['20230204':'20230206']

                   A         B         C         D
2023-02-04 -0.336231 -0.314541  1.120552  0.448324
2023-02-05  2.318452 -1.435856 -0.862754  0.785566
2023-02-06 -1.330211  0.580336  1.146512 -1.248540